.tc-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
  padding: 12px 20px;
  border-radius: 47px;
  box-shadow: 0 6px 18px rgba(16, 24, 40, 0.04);
  gap: 16px;
  width: 1315px;
}

/* Left side */
.tc-header-left {
  display: flex;
  align-items: center;
  gap: 18px;
}

.tc-logo {
  width: 140px;   /* reduce from 210 */
  height: auto;
  object-fit: contain;
}
.tc-brand-name {
  font-weight: 700;
  color: #0b5563;
  font-size: 18px;
}

.tc-nav {
  display: flex;
  align-items: center;
  gap: 20px;              
  margin-left: 90px;      
}

.tc-nav-item {
  display: inline-flex;          
  align-items: center;        
  gap: 6px;               
  background: transparent;
  border: none;
  padding: 8px 12px;
  border-radius: 18px;
  font-weight: 600;
  color: #072635;
  cursor: pointer;
}

.tc-nav-item img {
  width: 18px;
  height: 18px;
  object-fit: contain;
  display: inline-block;
}

.tc-nav-item:hover {
  background: rgba(6,182,212,0.06);
}

.tc-nav-item.tc-active {
  background: #01F0D0;
  color: #072635;
}

.tc-header-right {
  display: flex;
  align-items: center;
  gap: 50px;     
}

.tc-actions {
  display: flex;
  gap: 8px;
  align-items: center;
}

.tc-icon-btn {
  width: 36px;
  height: 36px;
  border-radius: 19px;
  border: none;
  background: transparent;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #475569;
  cursor: pointer;
}

.tc-icon-btn:hover {
  background: rgba(6,182,212,0.06);
}

/* User */
.tc-user {
  display: flex;
  gap: 10px;
  justify-content: space-between;  /* spread name and icons apart */
  align-items: center;
  background: #f8fafb;
  padding: 6px 8px;
    gap: 12px; 
  border-radius: 12px;
}

.tc-user-avatar {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #fff;
  box-shadow: 0 2px 6px rgba(16,24,40,0.06);
}

.tc-user-info {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.tc-user-icons {
  display: flex;
  align-items: center;
  gap: 20px;               /* space between three-dot and settings icons */
}

.tc-user-icons img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.tc-user-name {
  font-size: 13px;
  font-weight: 700;
  color: #0f172a;
   white-space: nowrap; 
}

.tc-user-sub {
  font-size: 12px;
  color: #6b7280;
}

.tc-more {
  border: none;
  background: transparent;
  font-size: 18px;
  color: #6b7280;
  cursor: pointer;
}
